
/* CSS pour Leaflet */
#map { 
    width: 800px; 
    height: 800px;
}

/* CSS layout */
#layoutTable {
    height: 300px;
}

/* CSS table */
table,th,td {
    border: 1px solid;
}

td {
    height: 24px;
}

table {
    border-collapse: collapse;  
    width: 100%;
}

#marqueur {
    border : none;
}